<div class="filter-container">
  <app-artist-list (selectArtist)="onSelectArtist($event)"></app-artist-list>
  <app-budget-widget></app-budget-widget>
</div>
<div class="list-container">
  <div *ngFor="let concert of concerts">
    <app-concert-package [concertData]="concert"></app-concert-package>
  </div>

  <div class="artist__not-selected" *ngIf="!hasSelectedArtist">
    No selected artist.
  </div>

  <div class="artist__not-selected" *ngIf="isEmpty">
    Artist has no concerts.
  </div>

  <div class="progress-container" *ngIf="isLoading">
    <div class="progress-spinner"></div>
  </div>
</div>
