<div class="main-container">
    <app-header-bar showBackButton=true></app-header-bar>
    <div class="content-container">
      <div class="package-detail-general-info-container">
        <div class="package-detail-date-info-container">
          <div class="package-detail-artist-name">
            {{concertData?.concert?.title}}
          </div>
          <div class="package-detail-date">
            {{concertData?.concert?.startDate}}
          </div>
          <div class="package-detail-time">
            {{concertData?.concert?.startTime}}
          </div>
        </div>
        <div class="package-detail-total-price">
          {{this.concertData.totalPrice}}€
        </div>
      </div>
      <div class="package-detail-box">
        <div class="package-detail-box-header">
          <div class="package-detail-box-title">
            The Event
          </div>
          <div class="package-detail-box-price">
            {{concertData?.concert?.price}}€
          </div>
        </div>
        <div class="package-detail-box-content">
          <div class="package-detail-event-image">
            <img src="{{concertData?.concert?.image}}">
          </div>
          <div class="package-detail-event-venue-info">
            <div class="package-detail-event-venue-name">
              {{concertData?.concert?.venue_name}}
            </div>
            <div class="package-detail-event-city">
              {{concertData.concert.city }}, {{ concertData.concert.country}}
            </div>
          </div>
        </div>
        <div class="package-detail-box-booking-container">
          <div class="package-detail-box-buttons">
            <div *ngIf="!eventBooked; then bookButtonEvent else doneButtonEvent"></div>
            <ng-template #bookButtonEvent>
              <a href="{{concertData?.concert?.tickets_url}}">
                <div class="button-primary-cta button-small">
                  Book Now
                </div>
              </a>
              <div (click)="toggleEventBooked()" class="button-secondary-cta">
                Mark as completed
              </div>
            </ng-template>
            <ng-template #doneButtonEvent>
              <div class="button-primary-cta button-small button-done">
                Done
              </div>
              <div (click)="toggleEventBooked()" class="button-secondary-cta">
                Mark as uncompleted
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      
      <div class="package-detail-box package-detail-hotel-info-container">
        <div class="package-detail-box-header">
          <div class="package-detail-box-title">
            Your Hotel
          </div>
          <div class="package-detail-box-price">
            {{concertData?.bookings?.hotels[0]?.price}} {{concertData?.bookings?.hotels[0]?.hotel_currency_code}}
          </div>
        </div>
        <div class="package-detail-box-content">
          <div class="package-detail-hotel-image">
            <img src="{{concertData?.bookings?.hotels[0]?.photo}}">
          </div>
          <div class="package-detail-hotel-info">
            <div class="package-detail-hotel-name">
              {{concertData?.bookings?.hotels[0]?.hotel_name}}
            </div>
            <div class="package-detail-hotel-address">
              {{concertData?.bookings?.hotels[0]?.address}}
            </div>
          </div>
        </div>
        <div class="package-detail-box-booking-container">
          <div class="package-detail-box-buttons">
            <div *ngIf="!hotelBooked; then bookButtonHotel else doneButtonHotel"></div>
            <ng-template #bookButtonHotel>
              <a href="{{concertData?.bookings?.hotels[0]?.hotel_url}}">
                <div class="button-primary-cta button-small">
                  Book Now
                </div>
              </a>
              <div (click)="toggleHotelBooked()" class="button-secondary-cta">
                Mark as completed
              </div>
            </ng-template>
            <ng-template #doneButtonHotel>
              <div class="button-primary-cta button-small button-done">
                Done
              </div>
              <div (click)="toggleHotelBooked()" class="button-secondary-cta">
                Mark as uncompleted
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      
      <div class="package-detail-box package-detail-trip-info-container">
        <div class="package-detail-box-header">
          <div class="package-detail-box-title">
            Your Trip
          </div>
          <div class="package-detail-box-price">
            {{concertData?.transport?.indicativePrice?.price}} {{concertData?.transport?.indicativePrice?.currency}}
          </div>
        </div>
        <div class="package-detail-box-content package-detail-box-schedule-content">
          <div class="package-detail-box-trip-schedule-container">
            <div class="package-detail-box-trip-time-container">
              <div class="package-detail-box-trip-date">
                July 10, 2017
              </div>
              <div class="package-detail-box-trip-times">
                9:55 PM - 10:55 PM
              </div>
            </div>
            <div class="package-detail-box-trip-stops">
              Munich (MUC) - Verona (VRN)
            </div>
            <div class="package-detail-box-trip-provider">
              Lufthansa
            </div>
          </div>
          <div class="package-detail-box-trip-schedule-container">
            <div class="package-detail-box-trip-time-container">
              <div class="package-detail-box-trip-date">
                July 11, 2017
              </div>
              <div class="package-detail-box-trip-times">
                12:05 PM - 11:00 PM
              </div>
            </div>
            <div class="package-detail-box-trip-stops">
              Verona (VRN) - Munich (MUC)
            </div>
            <div class="package-detail-box-trip-provider">
              Lufthansa
            </div>
          </div>
        </div>
        <div class="package-detail-box-booking-container">
          <div class="package-detail-box-buttons">
            <div *ngIf="!tripBooked; then bookButtonTrip else doneButtonTrip"></div>
            <ng-template #bookButtonTrip>
              <div class="button-primary-cta button-small">
                Book Now
              </div>
              <div (click)="toggleTripBooked()" class="button-secondary-cta">
                Mark as completed
              </div>
            </ng-template>
            <ng-template #doneButtonTrip>
              <div class="button-primary-cta button-small button-done">
                Done
              </div>
              <div (click)="toggleTripBooked()" class="button-secondary-cta">
                Mark as uncompleted
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
</div>
