<div class="main-container">
    <app-header-bar></app-header-bar>
    <div class="content-container">
      <div class="package-detail-general-info-container">
        <div class="package-detail-date-info-container">
          <div class="package-detail-artist-name">
            Imagine Dragons
          </div>
          <div class="package-detail-date">
            July 10, 2017
          </div>
          <div class="package-detail-time">
            21.00
          </div>
        </div>
        <div class="package-detail-total-price">
          500€
        </div>
      </div>
    </div>
</div>
