<div class="concert-package-container">
  <div class="concert-package-event-info">
    <div class="concert-package-artist-image">
      <img src="http://s1.evcdn.com/images/block/I0-001/015/001/088-6.jpeg_/imagine-dragons-88.jpeg">
    </div>
    <!-- Event -->
    <div class="concert-package-event-details">
      <div class="concert-package-detail-container">
        <div class="concert-package-date-detail-container">
          <div class="concert-package-event-date">
            July 10, 2017
          </div>
          <div class="concert-package-event-time">
            21.00
          </div>
        </div>
        <div class="concert-package-total-price">
          500€
        </div>
      </div>
      <div class="concert-package-artist-name">
        Imagine Dragons
      </div>
      <div class="concert-package-venue-info">
        Anfiteatro Arena di Verona
      </div>
      <div class="concert-package-event-city">
        Verona, Italy
      </div>
    </div>
  </div>
  <!-- Hotel -->
  <div class="concert-package-hotel-container">
    <div class="hotel-icon">
    </div>
    <div class="concert-package-hotel-name">
      Novo Hotel Rossi
    </div>
  </div>
  <!-- Flight -->
  <div class="concert-package-flight-container">
    <div class="flight-icon">
    </div>
    <div class="concert-package-flight-info">
      Lufthansa MUC-VRN - 1h 0m
    </div>
  </div>
  <div class="book-now-container">
    <div class="button-primary-cta book-now-button">
      Book Now
    </div>
  </div>
</div>
