.header-bar {
  width: 100%;
  height: 70px;
  background: #ED6256;
  font-size: 24px;
  color: #F1F2EB;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.header-bar-back-button {
  width: 15.85px;
  height: 30px;
  margin-left: 10px;
}

.header-bar-title {
  flex: 1;
}